Repository sannidhyaroy/SplitScale, pull requests merged in 2024-08, with the labels that each got.

#4 `docs`: update README with `venv` instructions
  README.md
Labels: documentation

#6 `feat`: show mapped domains in extension popup
  extension/popup.html
  extension/popup.js
Labels: enhancement

#10 `style`: add icons and enhance extension design
  assets/brand.svg
  assets/logo.svg
  extension/icons/icon128.png
  extension/icons/icon16.png
  extension/icons/icon32.png
  extension/icons/icon48.png
  extension/manifest.json
  extension/popup.css
  extension/popup.html
  extension/popup.js
  extension/settings.css
  extension/settings.html
  extension/settings.js
Labels: enhancement

#9 `fix`: tailscale request handling logic
  extension/background.js
Labels: bug

#11 `fix`: better error handling
  .gitignore
  extension/background.js
Labels: bug

#19 `ci`: resolve `upload-artifact` error
  .github/workflows/release-drafter.yml
Labels: bug, chore

#22 `ci(labeler)`: use golang regex flavor
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: chore

#23 `ci`: overwrite release assets during upload
  .github/workflows/release-drafter.yml
Labels: chore
